<div class="container">
  {{enter-your-name io=io isRegistered=isRegistered user=user registrationSuccess="setRegistered"}}

  {{game-arena io=io gameId=gameId user=user isRegistered=isRegistered goToGame="transitionToGame"}}
</div>
